.git
.gitignore
.gitattributes
.env
.env.backup
.env.production
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.md
*.log
.phpunit.cache
.idea
.vscode
.fleet
docker-compose*.yml
fix_*.php
